html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


/*
    INDEX
*/

.category .photo{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.category .photo img{
    width: 100%;
}

.category .name a{
    color: white;
}

.category .name{
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
    line-height: 40px;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    color: #ffffff;
}

.category.product .name{
    bottom: 40px;
}

.category.product .name.price{
    bottom: 0;
}

.category .description{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    color: #ffffff;
    display: none;
    *transition: ;
}

.category .photo:hover .description{
    display: block;
}

/*
    PRODUCTS
*/

.field-products-images .control-label, .field-products-images #products-images-file{
    float: left;
}

.upload_class {
    clear: both;
}

.upload-img {
    float: left;
    margin-right: 10px;
}

.button-gr{
    clear: both;
    padding-top: 10px;
}

.upload-img-fancy{
    margin-bottom: 5px;
}

.navbar-nav form{
    padding-top: 8px;
}

.navbar img.nav-avatar{
  height: 50px;
}

.navbar li.li-profile a{
  padding-top: 0;
  padding-bottom: 0;
}

.users-view img.view-avatar{
  width: 100%;
}

.users-index img.index-avatar{
  height: 50px;
}

.wrap {
	*background-image: url("../images/back.jpg");
	*background-size: 100% auto;
}

.wrap-main-page {
	background-image: url("../images/main-index.jpg") !important;
}

.j-main-text {
	background-color: white;
	opacity: 0.8;
}